
Excel/2022.xlsx
.DS_Store
PPTExcel69.xlsx
PPTExcel696.xlsx
SWRP/SWRP-1053/Chrome OS_CZN-Barcelo_2020_1023.pptx
SWRP/SWRP-1099/Streaming SDK 2.0_2021_1027.pptx
SWRP/SWRP-1143/HIP & MathLibs Enablement for ISV (Ph2) Linux_2021_0511.pptx
SWRP/SWRP-1143/HIP & MathLibs for ISV- Linux_2021_1117.pptx
SWRP/SWRP-1164/OGL on Pal (Cloud)Linux_2022_0126.pptx
SWRP/SWRP-1167/ASR 1.1_2021_1027.pptx
SWRP/SWRP-1168/GTM Driver Alignment _2022_0211.pptx
SWRP/SWRP-1168/GTM Driver Alignment_2021_1027.pptx
SWRP/SWRP-1169/RSX for Cloud (NV21 RPP)_2021_1103.pptx
SWRP/SWRP-1170/Panel Calibration_2022_0126.pptx
SWRP/SWRP-1180/HIP & MathLibs for ISV- Virt (NV21 RPP)_2021_1027.pptx
SWRP/SWRP-1182/CENTOS SUPPORT REMOVAL_2021_1027.pptx
SWRP/SWRP-1195/Chrome OS Mendocino_2021_0827.pptx
SWRP/SWRP-1205/AAASmart Blur1.0_2021_1027.pptx
SWRP/SWRP-1206/ADLX (ADL eXtra)_2022_0330.pptx
SWRP/SWRP-1208/HIP & MathLibs for Redshift (Windows)_2021_1027.pptx
SWRP/SWRP-1208/HIP & MathLibs for Redshift (Windows)_2021_1117.pptx
SWRP/SWRP-1209/QT5.15.6 w V2019 Migration_2021_1027.pptx
SWRP/SWRP-1212/UBUNTU 22.04_2021_1027.pptx
SWRP/SWRP-1212/Ubuntu-22.04_2022_0209.pptx
SWRP/SWRP-1213/RHEL 9.0_2021_1027.pptx
SWRP/SWRP-1214/RHEL 8.6_2021_1027.pptx
SWRP/SWRP-1215/AWS Navi 21_2021_1027.pptx
SWRP/SWRP-1216/DXX on Pal - Windows_2021_1105.pptx
SWRP/SWRP-1221/EXECUTEINDIRECT PERFORMANCE OPTIMIZATION 1.1_2021_1027.pptx
SWRP/SWRP-1223/MI200 VMWare-SCM_2021_1027.pptx
SWRP/SWRP-1228/DX12\] Support for WSA_2021_1027.pptx
SWRP/SWRP-1229/Desktop Context Menu RSX UI – WIN11_2021_1027.pptx
SWRP/SWRP-1230/Windows 2022_2022_0126.pptx
SWRP/SWRP-1232/(Microsoft) DIRECTStorage_2021_1027.pptx
SWRP/SWRP-1236/SM6.7_Topsheet_06_07_2022-1.pptx
SWRP/SWRP-1236/Windows Shader Model 6.7_2021_1027.pptx
SWRP/SWRP-1237/MI200_MS Hyper-V DDA-MCM_2021_1027.pptx
SWRP/SWRP-1238/MS Telemetry 2022_2021_1027.pptx
SWRP/SWRP-1249/Modern Standby for Dell_2022_0110.pptx
SWRP/SWRP-1249/Modern Standby for Dell_2022_0512.pptx
SWRP/SWRP-1253/Display Power Savings_2022_0126.pptx
SWRP/SWRP-1255/Fault Management 2.0_2022_0126.pptx
SWRP/SWRP-1257/Encode Quality Improvement (PA)_2022_0330.pptx
SWRP/SWRP-1258/Google Widevine L1 Over Windows_2022_0330.pptx
SWRP/SWRP-1260/AAA Free Dynamic Audio noise suppression (FDANS)_2022_0126.pptx
SWRP/SWRP-1261/RSR 1.2_2022_0126.pptx
SWRP/SWRP-1261/RSR 1.2_2022_0204.pptx
SWRP/SWRP-1262/(AAA) SmartAccess Graphics 1a_2022_0126.pptx
SWRP/SWRP-1263/RSX Migration to Microbench Lib_2022_0126.pptx
SWRP/SWRP-1270/Neptune Clould Gaming (NV21)_2022_0406.pptx
SWRP/SWRP-1271/Windows Driver Clean Install (NV21)_2022_0126.pptx
SWRP/SWRP-1273/OGLP Windows_2022_0202.pptx
SWRP/SWRP-1273/OGLP Windows_2022_0407.pptx
SWRP/SWRP-1274/Azure MI25 Virtualization Release (22.10)_2022_0429.pptx
SWRP/SWRP-1274/Azure MI25 Virtualization Release (22.20)_2022_0126.pptx
SWRP/SWRP-1275/AWS Navi 12 Virtualization Release (22.10)_2022_0427.pptx
SWRP/SWRP-1275/AWS Navi 12 Virtualization Release (22.20)_2022_0126.pptx
SWRP/SWRP-1276/Gibraltar NV12 & Vega Virtualization Release (22.20)_2022_0126.pptx
SWRP/SWRP-1277/SLED SLES 15 SP4_2022_0126.pptx
SWRP/SWRP-1280/RHEL 8.7_2022_0330.pptx
SWRP/SWRP-1281/RHEL 9.1_2022_0330.pptx
SWRP/SWRP-1282/HIP SDK (Windows)_2022_0330.pptx
SWRP/SWRP-1284/HIP  MATHLIBS for ISV -Virt (NV 21 RPP)-Linux_2022_0204.pptx
SWRP/SWRP-1284/HIP for ISV -Virt (NV 21 RPP)-Linux_2022_0503.pptx
SWRP/SWRP-1289/Streaming SDK 2.2 (22.40) topsheet.pptx
SWRP/SWRP-1291/OGL on PAL - Linux_WKS v3.pptx
SWRP/SWRP-1292/AAA) Microsoft Compliant CASO_2022_0330.pptx
SWRP/SWRP-1293/WinServer 2022 WHQL_2022_0311pptx.pptx
SWRP/SWRP-1297/Wayminder Demo UI_2022_0330.pptx
SWRP/SWRP-1298/Clean install (Factory Reset) option on upgrade_2022_0330.pptx
SWRP/SWRP-1299/Screen Rotation Hotkeys_2022_0330.pptx
SWRP/SWRP-1300/Codec control (Phase 1)_2022_0330.pptx
SWRP/SWRP-1301/Khronos Vulkan Video Extension_2022_0330.pptx
SWRP/SWRP-1302/D3D12 Video Encode DDI Support_2022_0330.pptx
SWRP/SWRP-1308/One Click & Auto Overclocking for  Chagall Platform_2022_0330.pptx
SWRP/SWRP-1309/DXX on PAL (Windows)- APU_2022_0330.pptx
SWRP/SWRP-1322/Streaming SDK App 1.pptx
SWRP/SWRP-1323/Reset and import options for user in adrenalin.pptx
SWRP/SWRP-1324/Windows Narrator compatibility with RSX.pptx
SWRP/SWRP-1326/Add adl API to Get OGL Adapter Index.pptx
SWRP/SWRP-1326/Add adl API to Get OGL Adapter Index_2022_0429.pptx
SWRP/SWRP-1332/(Microsoft) DirectStorage 1.1 Topsheet_6_2_22.pptx
SWRP/SWRP-1342/Unified Memory for CWSR (002).pptx
SWRP/SWRP-1343/NV 21 Azure RATCHET Cloud Gaming (Phase3)_2022_0524.pptx
SWRP/SWRP-1343/NV 21 Azure RATCHET Cloud Gaming (Phase3)_2022_0822.pptx
SWRP/SWRP-1362/Topsheet_Day 0Adrenalin like CG Driver Support Program.pptx
SWRP/SWRP-1366/AMD Link 5.5 - Rework Connection (002).pptx
SWRP/SWRP-1368/Codec control (Phase 1)_2022_1012_CR.pptx
SWRP/SWRP-1370/Deprecation – Youku media sharing.pptx
SWRP/SWRP-1371/Cooler Master RGB LED GUI - RSX Button.pptx
SWRP/SWRP-1377/Ukrainian language localization – AMD SW.pptx
SWRP/SWRP-1386/OGL on PAL - Linux_Cloud - change request.pptx
SWRP/SWRP-1391/ADLX (ADL eXtra)_2022_0330_CR.pptx
SWRP/SWRP-1403/Windows October moment.pptx
SWRP/SWRP-1415/Windows February CI.pptx
SWRP/SWRP-1448/Intake Temperature Sensor.pptx
SWRP/SWRP-453/Radeon GPU Detective1.0_2019_0807.pptx
SWRP/SWRP-943/Enhanced Sync 2.1_2022_0126.pptx
PowerPoint_to_Excel_ETL_Converter.ipynb
